/* UNIVERSAL */

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    font-weight: 800;
    border: 2px black solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Others/Images/website-background.svg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containerhome{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maintext{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    gap: 1em;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.firstmes{
    font-size: 20px;
    background-color: #0000007d;
    backdrop-filter: blur(10px);
    padding: 5px;
}

.secondmes{
    font-size: 15px;
    width: 90%;
    text-align: center;
    background-color: #0000007d;
    backdrop-filter: blur(10px);
    padding: 5px;
}

.firstmes, .secondmes{
    font-family: professional;
    color: #ffa200;
    border-radius: 5px;
}

.homeimgwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
    flex-direction: column;
}

.homeimgwrapper img{
    height: 50%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@font-face {
    font-family: 'Professional';
    src: url(../Others/Fonts/DMSerifText-Regular.ttf);
}

/* HOME CARDS */

.cardwrapping{
    height: 20%;
    width: 90%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card{
background-color: #0000007d;
display: flex;
justify-content: center;
align-items: center;
border-radius: 1rem;
}

.card img{
    height: 60px;
    padding: 10px;
}

@media (min-width: 320px){
.firstmes{
    font-size: 17px;
}    

.secondmes{
    font-size: 14px;
    text-align: center;
}
}

@media (min-width: 768px){
.secondmes{
    font-size: 2rem;
    text-align: center;
}

.firstmes{
    font-size: 2.5rem;
}

.maintext{
    margin-top: auto;
    margin-bottom: auto;
}
}