/* MOBILE-FIRST APPROACH */
/* UNIVERSAL */

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    font-weight: 800;
    border: 2px black solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Others/Images/website-background.svg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* CENTERING */

.horizontalcenter{
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.verticalcenter{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* BUTTON STYLING */

#HamburgerMenu{
    width: 3rem;
    height: auto;
    position: fixed;
    cursor: pointer; 
    margin: 7px;
}

/* NAVBAR BACKGROUND AND BUTTON POSITIONING */

#nav-wrapper{
    display: flex;
    align-items: center;
}

.nav{
    height: 100vh;
    width: 50vw;
    background-color: #afd5f047;
    backdrop-filter: blur(5px);
    border: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0 0 10px rgb(73, 73, 73);
}



button{
    text-decoration: none;
    color: black;
    background-color: #c3eefa6c;
    width: 80%;
    height: 5%;
    border: 2px solid; border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(73, 73, 73);
    transition: all 0.2s ease;
    cursor: pointer;
    margin-bottom: auto;
}

.closediv{
    display: flex;
    margin: 0 0 auto auto;
    padding: 10px;
}


/* DISPLAY OFF (NAVBAR) */
.navOFF , .closeOFF{
    display: none;
}

@media (min-width: 768px){
#nav-wrapper{
    align-items: start;
}

.nav{
    height: 10vh;
    width: 100vw;
    border: 3px solid;
    flex-direction: row;
    align-items: end;
    display: flex;
    justify-content: end;
}

button{
    width: 10%;
    height: 60%;
    margin-right: auto;
    margin-left: 0;
    margin-top: auto;
}


nav button:first-of-type{
    width: 20%;
    height: 60%;    
    margin-right: auto;
}

button:hover{
box-shadow:  0 0 10px rgb(148, 148, 148);
}


#HamburgerMenu{
    display: none;
}

.navOFF{
    display: flex;
}

#close{
    display: none;
}
}
