/* MOBILE-FIRST APPROACH */

/* CENTERING */

.horizontalcenter{
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.verticalcenter{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* BUTTON STYLING */

#HamburgerMenu{
    width: 3rem;
    height: auto;
    position: fixed;
    cursor: pointer; 
    margin: 7px;
    z-index: 999;
}

/* NAVBAR BACKGROUND AND BUTTON POSITIONING */

#wrapper{
    display: flex;
    align-items: center;
}

#mainnav{
    z-index: 1000;
}

.nav{
    height: 100vh;
    width: 50vw;
    background-color: #afd5f047;
    backdrop-filter: blur(5px);
    border: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0 0 10px rgb(73, 73, 73);
}



    a{
    color: rgb(255, 115, 0);
    background: linear-gradient(to bottom, darkgray -35px, black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    width: 80%;
    height: 5%;
    border: none;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-bottom: auto;
    position: relative;
    overflow: visible;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    a::before{
    content: '';
    background-color: aliceblue;
    position: absolute;
    display: flex;
    width: 104%;
    height: 105%;
    background: linear-gradient(to bottom right, #ffa200, #ff0000);
    box-shadow: -10px -10px 50px #ffa200, 10px 10px 50px #ff0000;
    border-radius: 1000px;
    z-index: -1;
}

.closediv{
    display: flex;
    margin: 0 0 auto auto;
    padding: 10px;
}


/* DISPLAY OFF (NAVBAR) */
.navOFF , .closeOFF{
    display: none;
}

@media (min-width: 768px){
#wrapper{
    align-items: start;
}

.nav{
    height: 10vh;
    width: 100vw;
    border: 3px solid;
    flex-direction: row;
    align-items: end;
    display: flex;
    justify-content: end;
}

 a{
    width: 10%;
    height: 60%;
    margin-right: auto;
    margin-left: 0;
    margin-top: auto;
}

nav a:first-of-type{
    width: 20%;
    height: 60%;    
    margin-right: auto;
}

#HamburgerMenu{
    display: none;
}

.navOFF{
    display: flex;
}

#close{
    display: none;
}
}
